﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - miTicket</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.cs" />
    <link rel="stylesheet" href="~/miTicket.styles.css" asp-append-version="true" />

</head>

<body>
    <header>
        <nav
            class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 posi">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="https://images.pexels.com/photos/13553279/pexels-photo-13553279.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        width="150">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-betweentop ">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Eventos Disponibles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/GestionEventos">Gestionar Eventos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" asp-area="" asp-page="#"
                                role="button" aria-haspopup="true" aria-expanded="false">iniciar Sesion o
                                Registrarse</a>
                            <div class="dropdown-menu" style="">
                                <a class="dropdown-item" asp-area="" asp-page="/iniciarSesion">Iniciar Sesion</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-page="/Registro">Registrarse</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center p-3">
            &copy; Todos los derechos reservados 2022 - miTicket - <a asp-area="" asp-page=""></a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>