html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.categorias{
  border: 1cm solid black;
  margin-top: 10px;
  
}

.carrusel{
  height: 300px;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.fondoRegistro{
  height: 200px;
        margin: 20px;
        border: 5px solid;
        background-color: #FBD603;
}

/* 1 columna para smartphones */
.breakpoint  {
  max-width: 100%;
  display: inline-block;
  }
  /* 2 columnas para tablets */
  @media (min-width: 420px) {
  .breakpoint  {
  max-width: 48%;
  }
  }
  /* 4 columnas para grandes dispositivos*/
  @media (min-width: 760px) {
  .breakpoint  {
  max-width: 24%;
  }
  }