@page
@model miTicket.Pages.CompraModel
@{

}


<div class="inline">
    <div class="">
        <h2 class="text-center">Comprar Boletas</h2>
        <form class="">

            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">Nombre:</label>
                <input type="text" id="form2Example1" class="form-control" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">Direccion:</label>
                <input type="text" id="form2Example1" class="form-control" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">Telefono:</label>
                <input type="number" id="form2Example1" class="form-control" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">Cantidad de boletas:</label>
                <input type="number" id="form2Example1" class="form-control" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">Telefono</label>
                <input type="number" id="form2Example1" class="form-control" />
            </div>

            <div class="form-group">
                <label for="sel1">Tipo de Evento:</label>
                <select class="form-control" id="sel1">
                    <option>Musical</option>
                    <option>Cultural</option>
                    <option>Deportivo</option>
                </select>
            </div>

        </form>
        <br>
        <br>
    </div>

    <!-- Submit button -->
    <button type="button" class="btn btn-primary " onclick="location.href='/Privacy'">Comprar</button>

</div>