﻿@page
@model miTicket.Pages.GestionEventosModel
@{
  ViewData["Title"] = "Gestionar eventos";

}
<nav class=" text-center bg-light">
    <div class="container-fluid">
       <h1>@ViewData["Title"]</h1>
    </div>
</nav>

<br>
<br>

<div class="position-relative">
    <div class="position-absolute top-0 start-50 translate-middle"></div>

    <button class="btn btn-dark position-absolute top-0 start-0 translate-middle" onclick="location.href='/Pages'">Crear
        evento</button>

    <button class="btn btn-dark position-absolute top-0 start-50 translate-middle"
        onclick="location.href=''">Seleccionar evento</button>

    <button class="btn btn-dark position-absolute top-0 start-100 translate-middle"
        onclick="location.href=''">Actualizar evento</button>
    <br>
</div>
</div>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">   -->

<br>
<div class="container text-center">
    <div class="row align-items-start">
        <table class="table tabler:hover">
            <thead>
                <th>CodEv</th>
                <th>Tipo Evento</th>
                <th>Nombre</th>
                <th>Lugar</th>
                <th>Fecha</th>
                <th>Precio</th>
                <th>Bol disp</th>
                <th>Estado</th>
            </thead>
            <tbody>
                <tr class="table-success">
                    <td>1</td>
                    <td>Deportivo</td>
                    <td>Beisbol al parque</td>
                    <td>Deportivo Central</td>
                    <td>23/04/2022</td>
                    <td>$15.000</td>
                    <td>18</td>
                    <td>Disponible</td>
                </tr>
                <tr class="table-success">
                    <td>2</td>
                    <td>Musical</td>
                    <td>Las Bandas</td>
                    <td>Bar Los Sauces</td>
                    <td>02/07/2022</td>
                    <td>$17.000</td>
                    <td>15</td>
                    <td>Cancelado</td>
                </tr>
                <tr class="table-success">
                    <td>3</td>
                    <td>Cultural</td>
                    <td>Barro como escultura</td>
                    <td>Salón Comunal</td>
                    <td>12/04/2022</td>
                    <td>$10.000</td>
                    <td>0</td>
                    <td>Cerrado</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
