﻿@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<section class="seccionIndex">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="~/img/2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="~/img/1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="~/img/3.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>


  <div class="container">
    <div class="row justify-content-start">
      <div class=" text-center col-4">
        <button onclick="location.href='/Privacy'">
          <img class="img-responsive" src="~/img/FotoBéisbol.png" alt="" width="300" height="300">
        </button>
        <h3 class="text-center">DEPORTES</h3>
      </div>
      <div class=" text-center col-4">
        <button onclick="location.href='/Privacy'">
          <img class="img-responsive" src="~/img/lorica_sinu_2017.jpg" alt="" width="300" height="300">
        </button>
        <h3 class="text-center">CULTURA</h3>
      </div>
      <div class="text-center col-4">
        <button onclick="location.href='/Privacy'">
          <img class="img-responsive" src="~/img/conciertos.png" alt="" width="300" height="300">
        </button>
        <h3 class="text-center">DIVERSION</h3>
      </div>
    </div>
</section>