﻿@page
@model miTicket.Pages.iniciarSesionModel
@{
  ViewData["Title"] = "Iniciar sesion";


<nav class=" text-center bg-light">
    <div class="container-fluid">
       <h1>@ViewData["Title"]</h1>
    </div>
</nav>
  
  <form >
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1">Usuario</label>
      <input type="email" id="form2Example1" class="form-control" />
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Password</label>
      <input type="password" id="form2Example2" class="form-control" />
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
          <label class="form-check-label" for="form2Example31"> Recuerdame </label>
        </div>

        <div class="row mb-4">
          <!-- Simple link -->
          <a href="#!">¿Olvidades tu contraseña?</a>
          <!-- Submit button -->
          <button type="button" class="btn btn-primary " onclick="location.href='/GestionEventos'">Iniciar sesion</button>
          <br>
          <!-- Register buttons -->
          <div class="text-center">
            <p>no estas registrado? <a href="#!">Register</a></p>
          </div>
  </form>


}
