﻿@page
@model MyApp.Namespace.PagesModel
@{
 ViewData["Title"] = "Crear Evento";
}

<nav class=" text-center bg-light">
    <div class="container-fluid">
       <h1>@ViewData["Title"]</h1>
    </div>
</nav>
<form>
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Tipo de Evento</label>
    <input type="text" id="form2Example1" class="form-control" />
  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Nombre del Evento</label>
    <input type="text" id="form2Example1" class="form-control" />
  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Lugar</label>
    <input type="text" id="form2Example1" class="form-control" />
  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Fecha</label>
    <input type="date" id="form2Example1" class="form-control" />
  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Precio Boleta</label>
    <input type="number" id="form2Example1" class="form-control" />
  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Boletas Disponibles</label>
    <input type="number" id="form2Example1" class="form-control" />
  </div>
  <div class="form-group">
    <label for="sel1">Estado:</label>
    <select class="form-control" id="sel1">
      <option>Disponible</option>
      <option>Cancelado</option>
      <option>Cerrado</option>
    </select>
  </div>
  </div>

</form>
<div class="container-fluid h-100">
  <div class="row w-100 align-items-center">
    <div class="col text-center">
      <button type="button" class="btn btn-primary center-block" onclick="location.href='/GestionEventos'">Enviar</button>
    </div>
  </div>
</div>
<div>
<br>
