﻿@page
@model PrivacyModel
@{
    ViewData["Title"] = "Eventos Disponibles";

    <nav class=" text-center bg-light">
        <div class="container-fluid">
            <h1>@ViewData["Title"]</h1>
        </div>
    </nav>
}

<br>
<div class="container text-left">
    <div class="row align-items-start">
        <table class="table tabler:hover">
            <thead>
                <th>CodEv</th>
                <th>Tipo Evento</th>
                <th>Nombre</th>
                <th>Lugar</th>
                <th>Fecha</th>
                <th>Precio</th>
                <th>Bol disp</th>
                <th>Estado</th>
                <th>opcion</th>
            </thead>
            <tbody>
                <tr class="table-success">
                    <td>1</td>
                    <td>Deportivo</td>
                    <td>Beisbol al parque</td>
                    <td>Deportivo Central</td>
                    <td>23/09/2022</td>
                    <td>$15.000</td>
                    <td>20</td>
                    <td>Disponible</td>
                    <th><button type="button" class="btn btn-primary " onclick="location.href='/Compra'">Comprar</button></th>
                </tr>
                <tr class="table-success">
                    <td>2</td>
                    <td>Musical</td>
                    <td>Champeta-Lorica</td>
                    <td>Deportivo Central</td>
                    <td>30/10/2022</td>
                    <td>$35.000</td>
                    <td>35</td>
                    <td>Disponible</td>
                    <th><button type="button" class="btn btn-primary " onclick="location.href='/Compra'">Comprar</button></th>
                </tr>
                <tr class="table-success">
                    <td>3</td>
                    <td>Cultural</td>
                    <td>Ferias y fiestas</td>
                    <td>Centro</td>
                    <td>24/08/2022</td>
                    <td>Gratis</td>
                    <td>0</td>
                    <td>No Disponible</td>
                    <th><button type="button" class="btn btn-primary " onclick="location.href='/Compra'">Comprar</button></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="position-relative">
    <div class="position-absolute top-0 start-0 translate-middle"></div>

    <button class="btn btn-light position-absolute top-50 start-0 translate-middle"
        onclick="location.href=''">Musical</button>

    <button class="btn btn-light position-absolute top-50 start-50 translate-middle"
        onclick="location.href=''">Cultural</button>

    <button class="btn btn-light position-absolute top-50 start-100 translate-middle"
        onclick="location.href=''">Deportes</button>

    <br>
</div>
</div>
<div class="position-relative">
    <div class="position-absolute top-0 start-0 translate-middle"></div>

    <button class="btn btn-light position-absolute top-50 start-50 translate-middle" onclick="location.href=''">Todos
        los eventos</button>

    <br>
</div>
</div>