﻿@page
@model miTicket.Pages.RegistroModel
@{

}

<div class="inline">
  <div class="">
    <h2 class="text-center">Registro</h2>
    <form class="">

      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Nombres</label>
        <input type="text" id="form2Example1" class="form-control" />
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Apellidos</label>
        <input type="text" id="form2Example1" class="form-control" />
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Identificacion</label>
        <input type="number" id="form2Example1" class="form-control" />
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Correo</label>
        <input type="text" id="form2Example1" class="form-control" />
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Telefono</label>
        <input type="number" id="form2Example1" class="form-control" />
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Contraseña</label>
        <input type="password" id="form2Example1" class="form-control" />
      </div>

    </form>
  </div>

  <!-- Submit button -->
  <button type="button" class="btn btn-primary btn-block mb-4" onclick="location.href=''">Enviar</button>

</div>
